<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6f63ac8b-13cc-40ee-b06b-8a92eb0aaafc/resourceGroups/WeatherApp/providers/Microsoft.ContainerRegistry/registries/weatherapp</ResourceId>
    <ResourceName>weatherapp</ResourceName>
    <ResourceGroup>WeatherApp</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://weatherapp.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7575d554-c606-4ef1-b1d2-6b5e801393b9</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>